*.zip
!dl/*.zip
node_modules
allKanji.json
jpdb/kanjiData.json
testData.json
jitai/旧字体.txt
jitai/標準字体.txt
*/input/*
mozc/kanji.json
mozc/variant_rule.txt
test/*
*kanji-jukugo-frequency.7z
*/kanji-jukugo-frequency/*
aozoraBunko/aozora-kanji-frequency.txt
wikipediaFreq/wikipedia.json
