.env

!dl/*.zip
node_modules
allKanji.json
kanjiData.json
testData.json
旧字体.txt
標準字体.txt
kanji.json
variant_rule.txt
test/*
*kanji-jukugo-frequency.7z
*kanji-jukugo-frequency*
aozora-kanji-frequency.txt
wikipedia.json
pixivReadings.json
pixivSummaries.json
*.ttl

**/kanjirin/pages/*

Cifu-v1.txt
*.zip